{% extends 'layout.html' %}
{% block SCRIPTS %}
<script> const localImageNames = JSON.parse('{{ image_names|tojson }}'); </script>
{% endblock SCRIPTS %}
{% block BODY %}

<body>
    <header>
        <svg class="logo" width="140" height="70">
            <use xlink:href="../static/images/logo.svg#hbnb"></use>
        </svg>
        <div id="api_status" class="circle"></div>
    </header>

    <main class="container">
        <section class="filters">
            <div class="locations">
                <h3>States</h3>
                <div class="popover">
                    <ul>
                        {% for state in states %}
                        <li>
                            <div class="state">
                                <input type="checkbox" id="{{ state.name }}" name="state" data-id="{{ state.id }}"
                                    data-name="{{ state.name }}">
                                <label for="{{ state.name }}">{{ state.name }}:</label>
                            </div>
                            <ul>
                                {% for city in state.cities %}
                                <li class="city">
                                    <input type="checkbox" id="{{ city.name }}" name="city" data-id="{{ city.id }}"
                                        data-name="{{ city.name }}">
                                    <label for="{{ city.name }}">{{ city.name }}:</label>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="amenities">
                <h3>Amenities</h3>
                <ul class="popover">
                    {% for amenity in amenities %}
                    <li>
                        <input type="checkbox" id="{{ amenity.name }}" name="amenity" data-id="{{ amenity.id }}"
                            data-name="{{ amenity.name }}">
                        <label for="{{ amenity.name }}">{{ amenity.name }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <button>
                <span>Search</span>
                <svg class="search-icon" width="23" height="23">
                    <use xlink:href="../static/images/search.svg#search"></use>
                </svg>
            </button>
        </section>

        <section class="places">
            <h1>Places</h1>
            <span class="places-count circle"></span>
            <div class="wrapper">
            </div>
        </section>
    </main>

    <footer>
        <div class="logo"></div>
    </footer>
</body>

</html>
{% endblock BODY %}
