.filters {
	position: relative;
	background-color: white;
	height: 70px;
	border: 1px solid var(--light-gray-400);
	border-radius: 4px;
	display: flex;
	align-items: center;
	box-shadow: 1px 1px 3px var(--light-gray-400);

	div:first-child {
		border-right: 1px solid var(--light-gray-400);
	}
}

.filters button {
	display: grid;
	place-items: center;
	font-size: var(--fs-500);
	background-color: var(--light-red);
	color: white;
	height: 48px;
	width: 15%;
	aspect-ratio: 1;
	border-radius: 4px;
	margin-left: auto;
	margin-right: 30px;
	z-index: 1;

	&:hover {
		opacity: 90%;
	}

	.search-icon {
		display: none;
	}

	@media (width < 800px) {
		width: 48px;
		border-radius: 50%;
		margin-right: 20px;

		span {
			display: none;
		}

		.search-icon {
			display: block;
		}
	}
}

.filters :where(.locations, .amenities) {
	width: 25%;
	height: inherit;
	display: flex;
	align-items: center;

	&:hover .popover {
		display: block;
	}

	& h3 {
		margin-left: 40px;
	}

	@media (width < 800px) {
		& h3 {
			margin-left: 20px;
		}

		& h4 {
			display: none;
		}
	}

	& .popover {
		display: none;
		position: absolute;
		z-index: 999;
		top: 100%;
		width: 250px;
		background-color: var(--light-gray-100);
		border: 1px solid var(--light-gray-400);
		border-radius: 0 0 4px;
		padding: 40px 20px;
		box-shadow: 1px 1px 3px var(--light-gray-400);
		max-height: 300px;
		overflow-y: auto;
		overscroll-behavior: contain;

		li h2 {
			font-size: var(--fs-400);
			margin-bottom: 15px;
		}

		@media (width < 800px) {
			& li h2 {
				font-size: var(--fs-300);
			}
		}
	}
}

.amenities,
.locations {
	position: relative;
}

.amenities .popover li {
	display: flex;
	align-items: center;
	gap: 10px;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	input,
	label {
		cursor: pointer;
	}
}

.locations .popover li {
	&:not(:last-child) {
		margin-bottom: 20px;
	}

	.city,
	.state {
		display: flex;
		align-items: center;
		gap: 10px;

		input,
		label {
			cursor: pointer;
		}
	}

	.state {
		font-size: 14px;
		margin-bottom: 16px;
		font-weight: 600;
	}

	.city {
		margin-left: 20px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

	}

}

.selected {
	position: absolute;
	display: block;
	bottom: 10px;
	width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 40px;
	cursor: default;

	@media (width < 800px) {
		margin-left: 20px;
		width: 160px;
	}
}
