.places {
	position: relative;
	display: flex;
	flex-direction: column;

	h1 {
		margin-block: 30px;
		font-size: var(--fs-800);
	}

	.places-count {
		position: absolute;
		top: 33px;
		left: 110px;
		background-color: var(--light-red);
		color: var(--light-gray-100);
		font-weight: 600;
	}
}


.places .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 20px;

	.place {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 20px;
		border: 1px var(--light-red) solid;
		border-radius: 4px;
		box-shadow: 3px 3px 5px var(--light-gray-400);

		h2 {
			font-size: var(--fs-700);
			max-width: 23ch;
			margin-top: 1rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.price_by_night {
			position: absolute;
			right: 10px;
			display: grid;
			place-items: center;
			font-size: var(--fs-700);
			aspect-ratio: 1/1;
			color: var(--light-red);
			border: 3px var(--light-red) solid;
			border-radius: 999px;
			width: 80px;
			height: 80px;
			background-color: #fff;
			box-shadow: 3px 3px 5px var(--light-gray-400);
		}

		.information {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin-top: 3rem;
			margin-bottom: 1rem;
			min-height: 100px;
			border-block: 1px solid var(--light-gray-400);

			:where(.max_guest, .number_rooms, .number_bathrooms) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding-block: 5px;
				height: 100%;
				min-width: 100px;
				font-weight: 600;
			}
		}

		.user {
			margin-top: 20px;
			margin-bottom: 10px;

			span:first-child {
				font-weight: 600;
			}
		}

		.description {
			max-width: 50ch;
			margin-bottom: 2rem;
		}

		.amenities {
			.amenity-count {
				font-weight: 600;
				font-size: var(--fs-400);
				border: 2px solid var(--light-red);
			}

			h3 {
				font-size: var(--fs-400);
				border-bottom: 1px solid var(--light-gray-400);
				padding-bottom: 6px;
			}

			ul {
				display: grid;
				gap: 10px;
				margin-block: 2rem;
				grid-template-columns: 1fr 1fr;
			}

			.amenity {
				display: grid;
				grid-template-columns: 25px 1fr;
				align-items: center;
				gap: 10px;
			}
		}

		.reviews {
			margin-top: 2rem;

			h3 {
				font-size: var(--fs-400);
				border-bottom: 1px solid var(--light-gray-400);
				padding-bottom: 6px;
			}

			dialog header {
				.review-counter {
					font-weight: 600;
					font-size: var(--fs-400);
					border: 2px solid var(--light-red);
				}
			}

			.toggle-reviews {
				margin-top: 2rem;
			}

			.close {
				margin-top: 2rem;
			}

			.review {
				display: grid;
				gap: 6px;
				margin-top: 20px;

				h4 {
					font-size: var(--fs-300);
					border-bottom: 2px dotted var(--light-red);
					padding-bottom: 5px;
					width: fit-content;
				}

				p {
					max-width: 50ch;
					font-size: var(--fs-300);

					@media (width < 460px) {
						font-size: var(--fs-200);
					}
				}
			}
		}

		.explore {
			margin-top: 2rem;
		}

		@media (width < 460px) {
			h2 {
				font-size: var(--fs-700);
			}

			.price_by_night {
				font-size: var(--fs-700);
				width: 75px;
				height: 75px;
			}

			.information {
				margin-top: 65px;
			}
		}
	}

	.status {
		font-size: var(--fs-800);
		text-align: center;
		font-weight: 600;
	}

	.no-data {
		color: var(--light-red);
		text-align: center;
		font-weight: 600;
		font-size: var(--fs-500);
		margin-top: 2rem;
		grid-column: span 2;
	}

	.loading {
		color: var(--light-gray-400);
		animation: pulse 1000ms ease-in-out infinite alternate;
		text-align: center;
		font-weight: 600;
		font-size: var(--fs-500);
		margin-top: 2rem;
		grid-column: span 2;
	}

}

dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 350px;
	padding: 1.25rem;
	border-radius: 1rem;
	border-width: 0px;
	overscroll-behavior: contain;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
	opacity: 0;
	translate: -50% -75%;
	transition-property: display overlay opacity translate;
	transition-duration: 0.5s;
	transition-behavior: allow-discrete;

	header {
		all: unset;
		display: flex;
		align-items: center;
		gap: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid var(--light-gray-400);
	}

	&::backdrop {
		background-color: rgba(0, 0, 0);
		opacity: 0;
		transition-property: opacity display overlay;
		transition-behavior: allow-discrete;
		transition-duration: 0.5s;
	}
}

dialog[open] {
	opacity: 1;
	translate: -50% -50%;

	&::backdrop {
		opacity: 0.5;
	}

	/* Experimental rule */
	@starting-style {
		opacity: 0;
		translate: -50% -25%;
	}
}

/* Experimental rule */
@starting-style {
	dialog[open]::backdrop {
		opacity: 0;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(.9);
		opacity: 0.75;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}
